@model ServiceSphere.Domain.Entities.Supplier

<h1>Edit Supplier</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="SupplierId" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Contact"></label>
        <input asp-for="Contact" />
        <span asp-validation-for="Contact"></span>
    </div>
    <button type="submit">Update</button>
</form>
