 @model IEnumerable<ServiceSphere.Domain.Entities.Event>

@{
    ViewData["Title"] = "Welcome to ServiceSphere";
}

<h1>Welcome to ServiceSphere</h1>
<p>Manage your events efficiently and easily.</p>
<p>
    <a asp-action="Index" asp-controller="Events">View Events</a>
</p>


@* @{
    ViewData["Title"] = "Welcome";
} *@