<!-- ServiceSphere.Web/Views/Service/Create.cshtml -->
@model ServiceSphere.Domain.Entities.Service

<h1>Crear Servicio</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <button type="submit">Crear</button>
</form>
