<!-- ServiceSphere.Web/Views/Event/Edit.cshtml -->
@model ServiceSphere.Domain.Entities.Event

<h1>Editar Evento</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" />
        <span asp-validation-for="Date"></span>
    </div>
    <button type="submit">Actualizar</button>
</form>
